<h1>House#show</h1>

<%= link_to "Edit House", edit_house_path(@house) %>

<h1><%= @house.name %></h1>
<% @house.characters.each do |character| %>
  <div class="char">
    <h2><%= link_to character.name, character_path(character) %></h2>
  </div>
<% end %>

<p>Find me in app/views/house/show.html.erb</p>
 