<h1>Character#edit</h1>
<h3> EDIT CHARACTER </h3> 
<%= render "form" %>
<h2><%= link_to "Delete Character", character_path(@character), method: :delete %> </h2>



<p>Find me in app/views/character/edit.html.erb</p>
